

body{
    box-sizing:border-box;
    background-color: aquamarine;
}
.container1{
    background-color:white;
    height:36rem;
    width:32rem;
    margin-left:5rem;
    margin-top:9rem;
    border:none;
    border-radius:10px;
    float:left;
    margin-left: 15%;
}
.form .title{
    font-family:"Poppins";
    font-size:2.2rem;
    text-align:center;
    margin-top:1rem;
   
}
.container1 .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    border:none;
}

.container1 .form input{
    font-size:1.1rem;
    width: 80%;
    padding: 0.8rem;
    border:1px solid grey;
    border-radius:8px;
    font-size: 20px;
}
.container1 .form .button{
    color:#ffffff;
    background-color:#0AA89E;
    text-transform:uppercase;
    font-family:"Poppins";
    font-weight:bold;
    letter-spacing:0.1rem;
    transition:0.4s;
    margin-bottom: 2rem;
}
.container1 .form .button:hover{
    cursor:pointer;
    background-color:rgb(6, 121, 113);
}
.info{
    width:43%;
    text-align: left;
    font-family:"Hind";
    font-size:1.6rem;
    font-weight:500;
    color:rgb(0, 0, 0);
    margin:auto;
    margin-top:15rem;
    border:none;
    border-radius:10px;
    float:right;
    margin-left: 2rem;
}
.info:hover{
    cursor:pointer;
}
@media only screen and (max-width: 399px) and (min-width: 300px){
    .body{
        background-attachment: fixed;
    }
    .container1{
        background-color:white;
        height:28rem;
        width:19rem;
    }
    .form .title{
        font-family:"Poppins";
        font-size:1.2rem;
        text-align:center;
        margin-top:1rem;
    }
    .container1 .form input{
        font-size:1rem;
        width: 80%;
        padding: 0.6rem;
    }
    .info{
        width:100%;
        margin-left:2rem;
    }
}
@media only screen and (max-width: 700px) and (min-width: 400px){
    .body{
        background-attachment: fixed;
    }
    .container1{
        background-color:white;
        height:30rem;
        width:22rem;
    }
    .form .title{
        font-family:"Poppins";
        font-size:1.4rem;
        text-align:center;
        margin-top:1rem;
    }
    .container1 .form input{
        font-size:1rem;
        width: 80%;
        padding: 0.8rem;
    }
    .info{
        width:100%;
        margin-left:2rem;
        float:left;
    }
}
@media only screen and (max-width: 1070px) and (min-width: 701px){
    .info{
        font-size:1.2rem;
        width:100%;
        margin-left:2rem;
        float:left;
    }
}


